[submodule ".repos/effect"]
	path = .repos/effect
	url = https://github.com/Effect-TS/effect
	shallow = true
[submodule ".repos/effected"]
	path = .repos/effected
	url = https://github.com/spencerbeggs/effected
	shallow = true
